.about-container {
  max-width: 85vh;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
}

.about-container h2 {
  background-color: #3787be;
  color: white;
  font-size: 24px;
  margin-top: 30px;
}

.about-container h3 {
  font-size: 18px;
}

.about-container p {
  margin-top: 15px;
}

.about-container ul {
  margin-top: 15px;
}

.about-container li {
  margin-bottom: 10px;
}

.about-container a {
  color: #3787be;
  text-decoration: none;
}

.about-container a:hover {
  text-decoration: underline;
}
